/*
reset & default stylesheet
*/
body{font-family: "Times New Roman", Times, serif; line-height: 1.3;}
img, fieldset{border: 0}
h1{font-size: 1.4em;}
h2{font-size: 1.8em;}
h3{font-size: 1.1em;}
h4{font-size: 1.0em;}
h5{font-size: 1em;}
ol, ul{list-style-type: none;}
li {list-style-type: disc;}
dt{font-weight: bold;}
h1 a { text-decoration: none;}
a{ color: #000;}
a:hover{text-decoration: none;}
input, select, textarea{border: 1px solid #000;}
input {padding: 1px 0}
select {margin: 0; padding: 0; line-height: normal;}
div{text-align: left;}
caption {display: none;}
table{border-top: 1px solid #000; border-left: 1px solid #000; border-collapse: separate; border-spacing: 0;}
th, td{padding: 5px; border-right: 1px solid #000; border-bottom: 1px solid #000; text-align: left;}
nav, footer,aside, .sup-title, .btnSlideshow,  .block-share,.block-left.block-left-new ,.right-side, .top-menu, .list-social, .block-banner, .wrapper-nav, .wrapper-slider, .breadcrumb, .list-tool, .btn-qt, .block-qc, .block-key, .block-adv-1, .highlight-3, .highlight, .wrapPopup, .btn-top {display: none;}
img {
max-width: 500px;
}
table, table td{border: none;}
.caption { text-align: center; font-style: italic; padding-top: 0; padding-bottom: 10px;}
.fck table.trichdan tbody tr:first-child td { background: none;}
.fck table.trichdan { background:#f6f6f6; margin-bottom: 15px; font-size: 12px; font-weight: bold ; color:#333;padding: 0;  border-top: none; border-bottom: none; position: relative; }
.fck table.trichdan .quote_author {text-align: right; color:#7c7c7c; }
.fck table.trichdan tbody td {padding: 5px 15px 10px 15px;}
.fck table.trichdan tbody tr:first-child td {padding: 15px 10px 5px 40px ; background: url(../images/bullet-1.png) 10px 15px no-repeat; line-height: 16px;}

.fck p {  font-size: 14px; color:#333; line-height: 18px;}
.fck .slide_content img { width: 100%; cursor: url(../images/zoom_cursor.png), auto; }
.fck .icon-zoom { cursor: pointer; z-index: 2;}
.fck img.img-1 {width: auto;}
.hlight { padding: 15px 20px; background:#f6f6f6;}
.fck p.noted {font-size: 12px; font-weight: bold ; color:#333;padding: 5px 0 25px 27px; width: 70%; margin: 0 auto; border-top: solid 1px #e9e9e9; border-bottom: solid 1px #e9e9e9; position: relative; }
.noted  img{ position: absolute; top: 8px; left: 0;}
.noted .author {position: absolute; right: 0; bottom: 8px; color:#7c7c7c; }
.btn-qt { float: left;}
.btn-qt a { border-radius: 3px;line-height: 20px; height: 20px; padding: 0 8px 0 20px; background:#a2a2a2 url(../images/icon-like.png) 6px 5px no-repeat; float: left; font-size: 10px; color:#fff; text-transform: uppercase;}
.wrapper-qt  strong { float: right;}
.wrapper-qt { overflow: hidden;}
.btn-qt > span {float: left; padding: 0 2px; color:#878787; font-size: 11px; border: solid 1px #e0e0e0; height: 18px;position: relative; margin-left: 7px;}
.btn-qt span span {width: 5px; height: 9px; position: absolute; top: 50%; left: -5px; margin-top: -4.5px; z-index: 2; background: url(../images/arrow-r.png) no-repeat;}
.btn-qt a:hover { color:#fff; background-color:#e32c22;}
.fck p, .fck table {font-size: 13.5px; margin-bottom: 14px; line-height: 18px; }
.fck a { color:##0072; font-size: 13px;}
embed { margin-bottom: 14px;}
.fck table.desc_image {  margin: 0 auto 14px auto;}
.qc{display: none;}